* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.centered {
	margin: 0 auto;
}

#nova {
	display: flex;
	align-items: center;
}

#nova img {
	margin-right: 20px;
}

#input {
	background-image: url('/icons/search.png');
	background-position: 10px 12px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	width: 1000px;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 5px;
}

body {
	font-family: sans-serif;
	min-height: 100vh;
	filter: grayscale(20%);
	color: #555;
}

div.outer {
	display: table;
	border: none
}

div.middle {
	display: table-row;
	border: none
}

div.inner {
	display: table-cell;
	border: none
}

button {
	width: 90px;
	height: 30px;
	color: #555555;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid;
}

label {
	margin: 20px;
	color: #555555;
	font-size: 20px;
}

div:not(#except) {
	border: 1px solid #d4d4d4;
	width: 1000px;
	padding: 10px;
}

.dark-mode {
	background-color: #2F3136;
	color: white;
}

.dark-mode div:not(#except) {
	border: 1px solid #2F3136;
}

.dark-mode #input {
	background-color: #2F3136;
	color: white;
	border: 1px solid #555;
}

.dark-mode table {
	border: 1px solid #2F3136;
}

.dark-mode table th {
	background-color: #36393F;
	border: thin solid #2B2B2B;
	color: white;
}

.dark-mode table td {
	border: thin solid #2B2B2B;
	background-color: #3C3F45;
	color: white;
}

.dark-mode table img {
	filter: grayscale(10%);
}

.dark-mode label {
	color: white;
}

table {
	width: 1000px;
	border: 1px solid #d4d4d4;
}

table th {
	padding: 10px 0;
	background-color: #f4f4f4;
	border: thin solid #d4d4d4;
	color: #555;
}

table td {
	padding: 10px;
	border: thin solid #d4d4d4;
	width: 18%;
	text-align: center;
	background-color: #fff;
	color: #555;
	font-size: 16px;
}

table img {
	width: 70%;
}