/* I always reset all the html elements */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	min-height: 100vh;
	filter: grayscale(20%);
}

label {
	margin: 20px;
	color:#555555; 
	font-size: 20px;
}

.dark-mode {
	background-color: #2F3136;
	color: white;
}

.dark-mode table {
	width: 80%;
	border: 1px solid #2F3136;
}

.dark-mode table th {
	background-color: #36393F;
	border: thin solid #2B2B2B;
	color: white;
}

.dark-mode table td {
	padding: 10px;
	border: thin solid #2B2B2B;
	width: 18%;
	text-align: center;
	background-color: #3C3F45;
	color: white;
}

.dark-mode table img {
	filter: grayscale(10%);
}

.dark-mode label {
	color: white; 
	font-size: 20px;
}

table {
	width: 80%;
	border: 1px solid #d4d4d4;
}

table th {
	padding: 10px 0;
	background-color: #f4f4f4;
	border: thin solid #d4d4d4;
	color: #555;
}

table td {
	padding: 10px;
	border: thin solid #d4d4d4;
	width: 18%;
	text-align: center;
	background-color: #fff;
	color: #555
}

table img {
	width: 70%;
}