* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

form.form-example {
    display: table;
	padding: 20px;
	width: 500px;
	text-align: left;
}

div.form-example {
    display: table-row;
}

label[name="format"], input[name="format"] {
    display: table-cell;
    margin-bottom: 10px;
}

label[name="format"] {
    padding-right: 10px;
}

.centered {
	margin: 0 auto;
}

#tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
#tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	font-size: 12px;
	font-family: Arial, sans-serif;

	/* Fade in tooltip */
	opacity: 0;
}

/* Tooltip arrow */
#tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
#tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

#boxed {
	background-color: white;
	border-radius: 15px;
}

label:not(#check) {
	background-color: #F2F3F5;
	border-radius: 12px;
	padding: 10px;
}

#nova {
	display: flex;
	align-items: center;
}

#nova img {
	margin-right: 20px;
}

#input {
	background-image: url('/icons/search.png');
	background-position: 10px 12px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	width: 995px;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: none;
	margin-bottom: 6px;
	background-color: #FFFFFF;
	border-radius: 12px;
}

#input:focus {
	outline-color: #B2B3B4;
}

body {
	font-family: sans-serif;
	min-height: 100vh;
	filter: grayscale(20%);
	color: #555;
	background-color: #F2F3F5;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	opacity: 0;
}

::-webkit-scrollbar-track-piece:end {
	background: transparent;
	margin-bottom: 5px;
}

::-webkit-scrollbar-track-piece:start {
	margin-top: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #696A6B;
	border-radius: 10px;
	border: 3px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #939496;
}

div.outer {
	display: table;
	border: none
}

div.middle {
	display: table-row;
	border: none
}

div.inner {
	display: table-cell;
	border: none
}

button:not(#noid) {
	background-color: #F2F3F5;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 6px;
	color: #555;
	width: 90px;
	height: 30px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

button:hover:not(#noid) {
	background-color: #DDDDDD;
	transition-duration: 0.3s;
}

label:not(#check) {
	margin: 20px;
	color: #555555;
	font-size: 20px;
}

div:not(#except) {
	border: 1px solid #F2F3F5;
	width: 1000px;
	padding: 10px;
}

.dark-mode {
	background-color: #2F3033;
	color: white;
}

.dark-mode div:not(#except) {
	border: 1px solid #2F3033;
}

.dark-mode #input {
	background-color: #3C3F45;
	color: white;
	border: none;
}

.dark-mode #input:focus {
	outline-width: 1px;
}

.dark-mode #boxed {
	background-color: #3C3F45;
}

.dark-mode label:not(#check) {
	background-color: #222326;
	padding: 10px;
}

.dark-mode table {
	border: 1px solid #2F3033;
}

.dark-mode table th {
	background-color: #222326;
	border: thin solid #2F3033;
	color: white;
}

.dark-mode table td {
	border: thin solid #2F3033;
	background-color: #3C3F45;
	color: white;
}

.dark-mode table img {
	filter: grayscale(10%);
}

.dark-mode label:not(#check) {
	color: white;
}

.dark-mode button:not(#noid) {
	background-color: #232426;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 6px;
	color: white;
	width: 90px;
	height: 30px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

.dark-mode button:hover:not(#noid) {
	background-color: #3D3F44;
}

table {
	width: 1000px;
	border: 1px solid #F2F3F5;
}

table th {
	padding: 10px 0;
	background-color: #EAEAEA;
	border: thin solid #F2F3F5;
	color: #555;
}

table td {
	padding: 10px;
	border: thin solid #F2F3F5;
	width: 18%;
	text-align: center;
	background-color: #FFFFFF;
	color: #555;
	font-size: 16px;
}

table img {
	width: 70%;
}

tr:first-child th:first-child {
	border-top-left-radius: 12px;
}

tr:last-child td:first-child {
	border-bottom-left-radius: 12px;
}

tr:first-child th:last-child {
	border-top-right-radius: 12px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 12px;
}